/* Additional CSS classes for tweaks to the base Casper theme */

#disqus_thread
{
  margin:4rem auto;
  max-width:710px;
  width:80%;
}

.attributed-image
{
  font-size:.4em;
  margin:0;
  padding:0;
  text-align:center;
}

.attributed-image a
{
  text-decoration:none;
}

.attributed-image img
{
  margin-bottom:0;
  padding-bottom:0;
  width:100%;
}

.back-button
{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border-radius:3px;
  border-style:solid;
  border-width:1px;
  box-sizing:border-box;
  display:inline-block;
  float:left;
  font-size:12px;
  height:38px;
  line-height:35px;
  opacity:1;
  padding:0 15px;
  text-align:center;
  text-transform:uppercase;
  transition:all .5s ease;
  white-space:nowrap;
}

/* Add a blackish orb around the center of the image to make the white title text readable */
.blackOrb
{
    background-image: radial-gradient(black 0%, rgba(0,0,0,0.5) 13%, rgba(255,255,255,0) 40%, rgba(255,255,255,0.1) 100%)
}

.copyright,.poweredby
{
  width:30%;
}

.disqusLink
{
  border-left:#d5dbde 1px solid;
  display:inline-block;
  font-size:1.3rem;
  margin-left:8px;
  padding-left:12px;
  text-transform:uppercase;
  white-space:nowrap;
}

.email-link, .url-link {
    color:#fff;
}

.grey-box
{
  background-color:#fafafa;
  border:1px solid #f5f5f5;
  border-radius:3px;
}

.main-header
{
  height:40vh;
}

.nav-closed .back-button
{
  border-color:rgba(255,255,255,0.6);
  color:#fff;
  left:40px;
  top:35px;
  z-index:10;
}

.nav-closed .menu-button
{
  right:40px;
  top:35px;
  z-index:10;
}

.nav-closed .no-cover .back-button
{
  border-color:#BFC8CD;
  color:#9EABB3;
}

.nav-closed .no-cover .back-button:hover
{
  border-color:#555;
  color:#555;
}

.post-date {
  margin-left: 0px;
  padding-left: 0px;
  border-left: none;
}

.page-description
{
  font-family:Asap, sans-serif;
  font-size:1em;
  font-style:italic;
  font-weight:700;
  text-shadow:#000 10px 10px 30px;
}

.page-title {
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.post-title
{
  text-align:center;
}

.reading-time
{
  font-size:1em;
  font-style:italic;
  text-align:center;
}

.social-links
{
  display:block;
  float:left;
  text-align:center;
  width:40%;
}

.titleWord0
{
  font-family:Quicksand, sans-serif;
}

.titleWord1
{
  font-family:Bangers, cursive;
  letter-spacing:.1em;
}

div.prism-show-filename
{
  -moz-box-shadow:none;
  -moz-transform:none;
  -ms-transform:none;
  -o-transform:none;
  -webkit-box-shadow:none;
  -webkit-transform:none;
  background-color:#CFCFCF;
  border-radius:0 5px 5px 0;
  bottom:auto;
  box-shadow:none;
  color:#000;
  display:inline-block;
  font-size:.6em;
  height:auto;
  left:0;
  margin-left:1px;
  padding:0 .5em;
  position:absolute;
  text-shadow:none;
  transform:none;
  width:auto;
  z-index:1;
}

div.prism-show-language > div.prism-show-language-label[data-language]
{
  font-size:.6em !important;
  margin-top: 1px !important;
  margin-right: 1px !important;
}

pre[class*="language-"]
{
  padding:1em 1em!important;
  margin-bottom: 1.5em !important;
}

img[alt$="-fullwidth"]{ 
  max-width:  100%; 
  display: block;
}

@media only screen and (max-width: 500px) {
  .back-button
  {
    background:transparent;
    border-radius:0;
    border-width:0;
    color:#2e2e2e;
    padding:0 5px;
  }
  
  .back-button:hover
  {
    background:none;
    border-color:transparent;
    color:#2e2e2e;
  }
  
  .main-nav.overlay .back-button
  {
    border-color:transparent;
  }
  
  .no-cover .main-nav.overlay .back-button
  {
    border:none;
  }

  .page-description {
    margin-top: 50px;
  }

  .page-title {
    margin-top: -15px;
  }
}