/* Additional CSS classes for tweaks to the base Casper theme */

/* Add a blackish orb around the center of the image to make the white title text readable */
.blackOrb {
	background-image: radial-gradient(black 0%, rgba(0,0,0,0.5) 13%, rgba(255,255,255,0) 40%, rgba(255,255,255,0.1) 100%)
}

.titleWord0 {
	font-family: 'Quicksand', sans-serif;
}

.titleWord1 {
	font-family: 'Bangers', cursive;
	letter-spacing: 0.1em;
}

.page-description {
	font-family: 'Alegreya', serif;
}
