/* Additional CSS classes for tweaks to the base Casper theme */

/* Header bar at the top of each page */
.site-header
{
    background: #3f90af no-repeat 100%;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background-size: cover;
}

/* The main comments panel at the bottom of a post */
#disqus_thread
{
    padding-left:50px;
    padding-right:50px;
}

/* The link to the comments on a preview card */
.disqusLink
{
    border-left: #d5dbde 1px solid;
    font-size: 1em;
    padding-left: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 33px;
}

/* Make the main post column a little narrower */
.kg-card-markdown {
    max-width: 90%;
}

/* Add a blackish orb around the center of the image to make the white title text readable */
.blackOrb
{
    background-image: radial-gradient(black -15%, rgba(0, 0, 0, 0.4) 2%, rgba(140, 30, 30, 0) 56%, rgba(255,255,255,0) 100%)
}

.date-divider {
    margin: 0 -2vw 0 1vw;
}

.floating-header {
    height: 45px;
}

.floating-header-share-fb, .floating-header-share-tw {
    height: 45px;
    width: 45px;
}

.floating-header-title {
    font-size: 1.4rem;
    font-weight: 500;
}

/* The text on the preview cards and at the top of each post */
.reading-time
{
    font-size:1em;
    font-style:italic;
    text-align:center;
}

.progress {
    color: red;
}

.post-full-header {
    padding: 3vw 8.5vw 3vw 8.5vw;
}

.post-full-meta a {
    color: #9EABB3;
    padding: 0 1vw 0 1vw;
    text-transform: lowercase;
}

.post-full-meta a {
    text-decoration: none;
}
.post-full-meta-date {
    color:#3f90af;
}

.post-full-title {
    margin-bottom: 5px;
}

/* Title for the page */
.generated-styled-title {
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-size: 7rem;
    padding-top: 2em;
}

.generated-styled-title.small-title {
    text-shadow: none;
    font-size: 1.5rem;
}

/* The code runner blog title, each word separately styled */
.titleWord0
{
    font-family:Quicksand, sans-serif;
}

/* The code runner blog title, each word separately styled */
.titleWord1
{
    font-family:Bangers, cursive;
    letter-spacing:.1em;
}

/* Grey box to highlight content */
.grey-box
{
    background-color:#fafafa;
    border:1px solid #f5f5f5;
    border-radius:3px;
}

.post-full-content img, .post-full-content video {
    max-width: 100%;
}

.post-content {
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    font-size: 1.8rem;
    line-height: 1.75em;
    color: #3A4145;
    text-rendering: geometricPrecision;
}

.post-full-content blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: #4A4A4A 0.4em solid;
}

/* Markup blocks from prism.js */
pre[class*="language-"]
{
    padding:1em 1em!important;
    margin-bottom: 1.5em !important;
}

div.code-toolbar > .toolbar {
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    font-size: 0.6em !important;
    color: black !important;
    background-color: #CFCFCF !important;
    border-radius: 0 0 0 5px !important;
    transition: unset !important;
    opacity: 1 !important;
}

div.code-toolbar > .toolbar span {
    padding: 0 .5em !important;
    background: none !important;
    box-shadow: none !important;
    color:#000 !important;
    font-weight: 500 !important;
}

img[alt$="-fullwidth"]{ 
    max-width:  100%;
    display: block;
}

.attributed-image
{
  font-size:.4em;
  margin:0;
  padding:0;
  text-align:center;
}

.attributed-image a
{
  text-decoration:none;
}
